.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  color: white;
/*background-color: green;*/
}

.sidebar a:hover:not(.active) {
 
/*background-color: green;*/
  color: white;
}

div.content {
  margin-left: 200px;

  height: 1000px;
}

 

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

 



.globalNav {
  overflow: hidden;
}

.globalNav a {
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.globalNav .icon {
  display: none;
}



@media screen and (max-width: 700px) {
  .globalNav a:not(:first-child) {display: none;}
  .globalNav a.icon {
    float: right;
    display: block;
  }
}



@media screen and (max-width: 700px) {
  .globalNav.responsive {position: relative;}
  .globalNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .globalNav.responsive a {
    float: none;
    display: block;
    text-align: left;
      color: white;
  }


/* This is for the sidebar... */
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

  
}




/* Dropdown  */
.group:hover .group-hover\:scale-100 { transform: scale(1) }
.group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
.scale-0 { transform: scale(0) }
.min-w-32 { min-width: 8rem }